*{
    background-color: hsl(120, 26%, 7%);
}
#myH1{
    color: hsl(88, 87%, 49%);
}
#navbar ul{
    display: flex;
    padding: 5px 20px;
    justify-content: flex-end;
}
#navbar ul li{
    text-decoration:none;
    list-style: none;
    display: flex;
}
#navbar ul li a{
    color: hsl(108, 83%, 60%);
    padding: 5px 20px;
    text-decoration: none;

}
#navbar ul li a:hover{
    color: hsl(108, 34%, 77%);
}
#footer{
    background-color: rgb(160, 241, 135);
    color: hsl(118, 80%, 23%);
}
#home{
    color: hsl(128, 84%, 40%);
}
#homepage{
    color: hsl(104, 46%, 89%);
}
#activeprojects{
    color: hsl(118, 80%, 23%);
}
#projects{
    color: hsl(120, 3%, 93%);
}
#contact{
    color: hsl(120, 3%, 93%);
}